@model CustomTracker.Models.TicketsListViewModel
@{
    ViewBag.Title = "ViewTickets";
    Layout = "~/Views/Shared/_bugTrackerMasterPage.cshtml";
}
<div class="well span8">
    @using (Html.BeginForm("ViewTickets","Staff",FormMethod.Get))
    {
        <p>
            Find: @Html.TextBox("SearchReference")
            <input type="submit" value="Search" />
        </p>
    }
    <table class="table table-striped table-condensed" style="width:80%;">
        <thead>


            <tr>
                <th>
                    Department
                </th>
                <th>
                    Owner
                </th>
                <th>
                    Status
                </th>
                <th>
                    Email
                </th>
                <th>
                    Subject
                </th>
                <th>
                    Data query
                </th>
                <th>
                    Reference
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Tickets)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Departments.Department)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Users.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Statuses.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Subject)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataMail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Reference)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id, @class = "btn btn - primary pull - right" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="btn btn - primary pull - right">
        @Html.PageLinks(Model.PagingInfo, x => Url.Action("ViewTickets", new { page = x, @class = "btn btn - primary pull - right" }))
    </div>
</div>
